/*
Add the following CSS properties using the right selector for each case:
Select the body element and apply the following styles:
Font must be Arial, 16px big and black
Select the h1 elements and apply the following styles:
Font must be: 2em big, color #ddd, shadow: 1px 2px 3px #666 and text in uppercase
Select the h2 elements and apply the following styles:
Font must be: 1.5em big, color #ddd, shadow: 1px 2px 3px #666 and text in uppercase
Use the same definition to apply h1 & h2 the shared properties
Select all paragraphs and apply the following styles:
line height must be 1.4em and ident the text using 0.8em
Select the main class and apply the following style:
Text must use justify align
Select the bold class and apply the following styles:
Font must be bold and coral color
Select the element with the id quote and apply the following styles:
Letters must have a 2px spacing, the font style must be italic and darkcyan color
Select the elements with the last class and applyt the following styles:
Text must be right aligned and red color
Select the elements with the wrong class and apply the following styles:
The text must be decorated a black line-through, the font must be 1.2em tall and weight 700
Select the elements with the google class and apply the following styles:
Use google fonts to apply the Merriweather family, also font size must be 1.6em and purple color
 */

 @import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

 body {
   font-family: "Arial", sans-serif;
   color: black;
   font-size: 16px;

 }

 h1 {
   font-size: 2em;
   color: #ddd;
 }

 h2 {
   font-size: 1.5em;
   color: #ddd;
 }

 h1, h2 {
   text-shadow: 1px 2px 3px #666;
   text-transform: uppercase;
 }

 p {
   font-size: 1.4em;
   text-indent: 0.8em;
 }

 .main {
   text-align: justify;
 }

 .bold {
   font-weight:bold;
   color: coral;
 }

 #quote {
   letter-spacing: 2px;
   font-style: italic;
   color: darkcyan;
 }

 .last {
   text-align: right;
   color:red;
}
.wrong {
  text-decoration: line-through;
  font-size: 1.2em;
  weight: 700;
}
.google {
  font-family: 'Merriweather', serif;
  font-size: 1.6em;
  color: purple;

}
