/* All main title elements must be red

All paragraph elements must be gray

All links must be yellow

On index.html add a style element and set the following CSS

All link elements must be pink
On news.html the link must be green (use inline style)

On styles.css change the main title elements color to blue */



h1  {
  color: red;
}

a {
  color: yellow;
}

a.index  {
  color: pink;
}

a.news  {
  color: green;
}
