

/* Select the body element and apply the following styles:
Use Arial, Helvetica, sans-serif as font family */
body {
  font-family: Arial. Helvetica, sans-serif;
}

/* Select all the unordered list element and apply the following styles:
      Background color must be lightblue
      Use 1px solid blue for all sides border
      Add 20px padding to all sides
      Center align text
      Change the font size to 0 */

ul {
  background: lightblue;
  border: 1px solid blue;
  padding: 20px;
  text-align: center;
  font-size: 0px;
}

/* Select all list item elements and apply the following styles:
        Change the display property to inline-block
        Use mediumblue for font color
        Use 1px dashed blue only for the right side
        Remove all padding
        Apply 10px padding only to the right side
        Add 10px to the right margin
        Change the font size to 16px */
li {
  display: inline-block;
  color: mediumblue;
  border-right: 1px dashed blue;
  padding-right: 10px;
  margin-right: 10px;
  font-size: 16px;
    }

/* Use the last-child pseudo-class to select only the last list item and apply the following style:
        Remove all borders */
li:last-child {
  border: none;
}
