/* Select the both ul and ol lists and apply the following style:
    Remove margin from all sides
    Remove padding from all sides
    Add 20px to margin top only */

ul , ol {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

/* Select all li elements and apply the following style:
The list item style position must be inside */
li{
  list-style-position: inside;
}

/* Select only the ol list and apply the following style:
List style must be decimal-leading-zero */
ol > li {
  list-style: decimal-leading-zero inside;
}

/* Select only the ul list and apply the following style:
List style must be square */

ul > li {
  list-style: square inside;
}

/* Select the element with the decorated class and apply the following style:
Use the snow.png as list style image
      Font size must be 30px */
ul.decorated > li {
   list-style-image: url("snow.png");
   font-size: 30px;
}
