

/* Select the body element and apply the following styles:
        Use Arial, Helvetica, sans-serif as font family */

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Select the element with the container id and apply the following styles:
        Background color must be gray
        The element must be 600px wide
        Center this element using margin auto */
#container {
  background: gray;
  width: 600px;
  margin: auto;

}

/* Select all the link element that are children of the container id element and apply the following styles:
      Change the display property to be block
      Center align the text
      Use white for font color
      Remove the link text decoration
      Add a 1px solid black bottom border
      Add 10px padding to all sides
      Transform the text to be uppercase */

#container > a {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  text-transform: uppercase;
}

/* Add the hover pseudoclass and apply the following styles:
        Background color must be #eee
        Use gray for font color */

#container > a:hover {
  background: #eee;
  color: gray;
}
