/* Select the body element and apply the following style:
Remove margin and padding from all sides */
body {
  margin: 0;
  padding: 0;
}

/* Select the form element and apply the following style:
      Background color must be #eee
      Add 10px padding to the top and bottom padding
      Add 5px padding to the left and right padding
      Right align text
      Add a 1px solid #ddd bottom border only */

form {
  background: #eee;
  padding: 10px 5px;
  text-align: right;
  border-bottom: 1px solid #ddd;

}

/* Select the input type text, input type password and button elements and apply the following style:
      Display must be inline-block;
      Add 10px padding to all sides
      Add a 1px solid #ddd border to all sides
      Add a 5px border radius to all corners
      Add 5px to the right margin
      Remove the outline using the none value */

input[type="text"], input[type="password"], button {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 5px;
  outline: none;
}


/* Select the focus pseudo class for input type text, input type password and button and apply the following style:
      Add a 1px solid #EC576B border to all sides
      Add a 0 6px 6px -6px #777 box shadow */
input[type="text"]:focus, input[type="password"]:focus, button:focus {
  border: 1px solid #EC576B;
  box-shadow: 0 6px 6px -6px #777;

}

/* Select the button element and apply the following style:
      Background color must be #EC576B
      Font color must be white
      Remove the right margin (use value 0) */
button {
  background: #EC576B;
  color: white;
  margin-right: 0;
}

/* Select the hover pseudo class from the button element and apply the following style:
      Background color must be rgb(240, 50, 76)
      Font color must be white
      Cursor must be pointer */
button:hover {
  background: rgb(240, 50, 76);
  color: white;
  cursor: pointer;
}
